.content {
    display: flex;
}

.circle {
    position: absolute;
    background: #00940fad;
    border-radius: 50%;
    border: 1px solid black;
}

.triangle {
    position: absolute;
}

.square {
    position: absolute;
    background: red;
    border: 1px solid black;
}